.top {
    padding: 60px 0;
    width: 100%;
    background: #FF33AE;
}

.middle {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.new-todo-form {
    display: block;
    border: 1px solid white;
    padding: 10px;
    width: 500px;
    margin-top: -40px;
    border-radius: 3px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    align: center;
    margin-left: auto;
    margin-right: auto
}

.new-todo-form:after {
    content: "";
    display: table;
    clear: both;
}

.new-todo-label {
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    align: left;
    font-weight: bold;
}

.new-todo-input {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
    margin-top: -10px;
    float: left;
}

.new-todo-button {
    margin-left: 10px;
    font-size: 14px;
    width: 17%;
    background: #FF33AE;
    color: white;
    padding: 6px 16px;
    border-radius: 3px;
    border: 1px solid #FF33AE;
    font-weight: bold;
    margin-top: -10px;
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
    display: block;
    flex-direction: column;
    border: 1px solid lightgray;
    border-top: white;
    border-radius: 3px;
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    padding: 10px;
    position: relative;
    border-top: 1px solid lightgray;
}

ul li:after {
    content: "";
    display: table;
    clear: both;
}

label.custom-control-label {
    padding-left: 30px;
    float: left;
    width: 80%;
    cursor: pointer;
    word-break: break-word;
    top: 3px;
}

label.custom-control-label::before, label.custom-control-label::after{
    right: 0;
    left: -10px;
    float: left;

}

.custom-control-label:before{
    background-color: white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#FF33AE;
}

.fa-trash::before, .fa-trash::after {
    color: #FF33AE;
    margin: 5px 12px;
    cursor: pointer;
    float: right;
}

.fa-pencil::before, .fa-pencil::after {
    color: #FF33AE;
    margin: 5px 12px;
    cursor: pointer;
    float: right;
}

.edit-todo-label {
    font-size: 14px;
    left: 15px;
    margin: 8px 10px 0 -9px;
    float: left;
    text-align: left;
}

.edit-todo-input {
    font-size: 14px;
    padding: 7px;
    width: 76%;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.edit-todo-button {
    width: 15%;
    background: white;
    border: 1px solid #FF33AE;
    border-radius: 3px;
    color: #FF33AE;
    font-size: 14px;
    padding: 7px 0;
    float: right;
    right: 10px;
    margin-left: 10px;
    font-weight: bold;
}





