.input-todo {
   background: cornflowerblue;
   padding: 30px 40px;
   /*overflow: auto;*/
}

.input-todo:after {
   content: "";
   display: table;
   clear: both;
}

h2 {
   text-align: center;
   color: white;
   text-transform: capitalize;
   font-family: "Times New Roman", Times, serif;
   font-size: 24px;
   font-weight: bold;
}

#todoInput {
   width: 75%;
   font-size: 16px;
   padding: 10px;
   border: none;
   float: left;
}
#btn-add {
   width: 25%;
   color: #555555;
   background: #D9D9D9;
   font-family: "Times New Roman", Times, serif;
   font-size: 16px;
   text-align: center;
   padding: 10px 0;
   border: none;
   float: left;
}

ul {
   list-style-type: none;
   padding: 0;
}

ul li {
   position: relative;
   color: #000000;
   /*background: white;*/
   background: #f9f9f9;
   cursor: pointer;
   padding: 10px 10px 10px 40px;
   font-size: 18px;
   font-family: "Times New Roman", Times, serif;
}

ul li:nth-child(even) {
   background: #eeeeee;
   /*background: white;*/
}

ul li:hover {
   background: #DDDDDD;
}

ul li.checked {
   background: #888888;
   color: white;
   text-decoration: line-through;
}

ul li.checked .close {
   color: white;
}

ul li.checked::before {
   position: absolute;
   content: '';
   border-style: solid;
   border-color: white;
   border-width: 0 2px 2px 0;
   top: 12px;
   left: 16px;
   height: 16px;
   width: 8px;
   transform: rotate(45deg);
}

.close {
   position: absolute;
   padding: 12px 16px;
   top: 0;
   right: 0;
   text-shadow: none;
   font-weight: normal;
   color: black;
   opacity: 100%;
}

.close:hover{
   color: white;
   background-color: cornflowerblue;
   opacity: 100%;
}
