.input-todo {
   background: #f44336;
   padding: 30px 40px;
   /*overflow: auto;*/
}

.input-todo:after {
   content: "";
   display: table;
   clear: both;
}

h2 {
   text-align: center;
   color: white;
   text-transform: capitalize;
   font-family: "Times New Roman", Times, serif;
   font-size: 24px;
   font-weight: bold;
}

#todoInput {
   width: 75%;
   font-size: 16px;
   padding: 10px;
   border: none;
   float: left;
}
#btn-add {
   width: 25%;
   color: #555555;
   background: #D9D9D9;
   font-family: "Times New Roman", Times, serif;
   font-size: 16px;
   text-align: center;
   padding: 10px 0;
   border: none;
   float: left;
}

.close {
   padding: 12px 16px 12px 16px;
}